[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "miscIC"]
	path = miscIC
	url = https://github.com/cran/miscIC
[submodule "nhm"]
	path = nhm
	url = https://github.com/cran/nhm
